body {
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Noto Sans', sans-serif;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e8832a;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .left-pane{
    max-width: 40%;
    margin-left: 30px;
    margin-top: 50px;
  }
  .right-pane{
    margin-left: auto;
    margin-right: auto;
  }
  #bio-pic{
    width:400px;
    height:480px;
    margin-top: 20px;
  }
  #main{
    display: flex;
  }
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }